/* cap container width */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

blockquote {
  border: 0px !important;
}

.page-header h1 a {
  color: black;
}

.page-header h1 a:hover {
  color: #428bca;
  text-decoration: none;
}

.footer {
  margin-top: 20px;
  border-top: 1px solid #EEE;
  text-align: center;
  color: #999;
}

.footer .contact {
  padding: 0 20px 0 20px;
}

.gallerynav {
  text-align: center;
  padding-bottom: 20px;
}

.gallerynav a {
  padding: 0 20px 0 20px;
}
